/*Intégration des polices à télécharger*/

@font-face {
    font-family: 'boomerang';
    src: url('fonts/boomeran.eot');
    src: url('fonts/boomeran.eot?#iefix') format('embedded-opentype'),
         url('fonts/boomeran.woff2') format('woff2'),
         url('fonts/boomeran-.woff') format('woff'),
         url('fonts/boomeran.ttf') format('truetype'),
         url('fonts/boomeran.svg#boomerangregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*____________ LES HEADERS ET HAUTS DE PAGE ____________*/

.header-Florian
{
	display: inline-block;
	text-align: center;
	background-color: grey;
	margin: auto;
	width: 1000px;
	border-bottom: 1px black solid;
}

.accueil
{
	position:absolute;
	z-index:1;
	border-radius:5px;	
	width:990px;
	height:150px;
	margin-left:265px;
	margin-right:5px;
	margin-top:5px;
	margin-bottom:10px;
}

.menu  /* classe de l'icône de menu de index_1.html */
{
	position:fixed;
	margin-top:6px;
	margin-right:1005px;
	margin-left:5px;
	z-index:2;
}

.titre-Enzo
{
	position:absolute;
	top:127px;
	left:470px;p
	color:black;
	font-size:45px;
	width:750px;
	font-family:boomerang;
}
	
.titre_de_page  /* classe des titres de page de menu_blind.html */
{
	position: inline-block;
	top: 160px;
	border: 1px solid white;
	height: 160px;
	vertical-align: top;
	margin-left: 25%;
}

.chemin  /* indique le chemin d'accès à l'intérieur du site */
{
	border-radius: 5px;
	border: 1px solid black;
	background-color: rgba(255, 231, 170, 0.7);
	display: inline-block;
	position: float;
	margin-left: 5%;
	text-decoration: none;
	padding: 5px;
	padding-left: 9px;
	padding-right: 9px;
}




/*____________ LES MENUS DE NAVIGATION ET LISTES____________*/

.nav-Enzo ul
{
	background-color:#DFF2FE;	
	position:fixed;
	z-index:2;
	border:1px #868686 solid;
	border-left:none;
	color:black;
	font-size:16px;
	font-family:Verdana;
	list-style-type:none;
	width:240px;
	top:10px;
	margin-right:1005px;
	margin-left:5px;
	padding-left:5px;
}

.nav-Matthieu
{
	border:1px black solid;
	border-radius:5px;
	background-color:white;	
	float:left;
	color:black;
	width:25%;
	min-width: 150px;
	max-width: 240px;
	list-style-type: none;
	font-size:16px;
	font-family:Verdana;
	margin-top:5px;
	margin-right:auto;
	padding: 5px;
	display: inline-block;
}

.nav-Florian
{
	margin: 0px;
	padding: 0px;
}

.ul-Florian
{
	margin: 2px;
	padding: 2px;
}

.li-Florian
{
	display: inline-block;
}




/*____________ LES BLOCS DE CORPS DE PAGE ____________*/

.body-Enzo
{
	background-color:#DFF2FE;
	width:1280px;
	margin:auto;
}

.body-Matthieu
{
	width: 92%; 
	background-color: white;
	border: 1px black solid;
	margin:auto;
}

.body-Florian
{
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	
	background-color: white;
	border: 1px black solid;
}

.colonne  /* classe d'une colonne d'un menu en colonnes dans menu_blind.html */
{
	float: top;
	width: 35%;
	min-width: 250px;
	border: 1px blue solid;
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
}

.texte  /* classe d'un gros bloc paragraphe dans index_1.html */
{
	background-color:#DFF2FE;
	position:absolute;
	top:195px;
	width:990px;
	border:1px #868686 solid;
	color:black;
	font-size:16px;
	font-family:Verdana;
	border-left:none;
	border-right:none;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:265px;
	margin-right:5px;
}




/*____________ LES TITRES, PARAGRAPHES ET MARQUAGES ____________*/

.h1-1, .h2-1  /* dans menu_blind.html et pochmann_coins.html */
{
	top: 150px;
}

.p-1  /* dans menu_blind.html et pochmann_coins.html */
{
	color:black;
	font-size:16px;
	font-family:Verdana;
	text-align:left;
}

.p-2  /* dans index_2.html */
{
	margin-left: 3px;
	font-family:"Comic sans MS";
	font-size: 0.85em;
	text-align: justify;
	margin-top: 3px;
	margin-bottom: 3px;
}

.h1-2  /* dans index_2.html */
{
	text-align: center;
	color: blue;
}

.strong-2  /* dans index_2.html */
{
	display: block;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

.chemin a
{
	text-decoration: none;
}




/*____________ LES FONDS, COULEURS, TABLEAUX ET AUTRES ____________*/

.gradient  /* dégradé bleu clair */
{
	/* Anciens navigateurs */
	background: white url("gradient-bg.png") repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	/* Navigateurs récents */
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(white),
		to(#3399cc)
	);
	background: -webkit-linear-gradient(
		top,
		white,
		#3399cc
	);
	background: -moz-linear-gradient(
		top,
		white,
		#3399cc
	);
	background: -o-linear-gradient(
		top,
		white,
		#3399cc
	);
	background: linear-gradient(
		top,
		white,
		#3399cc
	);
}

#color
{
	color: blue;
}

.table-Matthieu
{
	border-collapse: collapse;
}

.td-Matthieu
{
	border: 1px solid black;
}

.th-Matthieu
{
	border: 2px solid black;
	background-color: grey;
}




/*____________ LES FOOTERS ET BAS DE PAGE ____________*/

.liens_externes  /* bloc des liens externes en bas de page, dans pochmann_coins.html */
{
	border: 1px solid green;
}

.copyright  /* texte du copyright dans le pied de page */
{
	text-align: center;
	font-size: 0.5em;
}

.footer-Florian
{
	background: url("images/separator.png") repeat-x top;
}

.footer-Matthieu
{
	text-align:center;
	
	color:black;
	font: normal normal 12px normal Verdana;
	
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-radius: 15px 15px 0px 0px;
	
	background-color:white;
	
	margin-left: 10%;
	margin-top: 50px;
	
	width: 80%;
	min-width: 500px;
	
	padding: 5px;
	
	display: inline-block;
	position: float;
	bottom: 0px;
}

.footer-Enzo
{
	background-color:;
	position:absolute;
	border:1px #868686 solid;
	border-left:none;
	border-right:none;
	text-align:center;
	color:black;
	font-size:10px;
	font-family:Verdana;
	width:600px;
	margin-left:340px;
	margin-right:340px;
	margin-bottom:5px;
	top:2700px;
}

/*____________CACHER LE MENU SI L'ÉCRAN EST TROP PETIT ET LE METTRE AUTRE PART_________*/
    @media all and (max-width: 1279px) {
      .body-Enzo {
	width:50%;
      }
      .accueil {
	margin-right:-500px;
	margin-left:-200px;
      }
      .titre-Enzo {
	margin-right:-500px;
	margin-left:-200px;
      }
      .texte {
	margin-right:-500px;
	margin-left:-200px;
      }
      .footer-Enzo {
	margin-right:-500px;
	margin-left:-200px;
      }
      .menu {
        display:none;
      }
      .nav-Enzo ul {
        display:none;
      }
    }
