header a
{
	display: inline-block;
	width: 11.2%;
	height: 40px;
	vertical-align: top;
	border: 1px solid black;
	text-align: center;
	border-radius: 3px;
	box-shadow: black 1px 1px 1px;
	margin: 0.2%;
	font-size: 14px;
	color: black;
	text-decoration: none;
	font-family: none;
	text-shadow: white 1px 1px 1px;
	line-height: 40px;
}

header .bouton_ma
{
	line-height: 20px;
	display: block;
	margin-top: 2px;
}

header .bouton_mb
{
	line-height: 20px;
	display: block;
	margin-top: -4px;
}

header
{
	display: block;
	background-color: grey;
	border-radius: 5px;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	overflow: hidden;
	padding: 0px;
	min-width: 675px;
	text-align: center;
}

#banniere_index
{
	width: 100%;
	height: 100px;
	border-bottom: 1px solid black;
	margin-bottom: -5px;
}

@media all and (max-width: 760px)
{
	header #encyclopedie
	{
		font-size: 13px;
	}
}

#actualites { background-color: rgb(255,0,0); }
#reussir { background-color: rgb(255,150,0); }
#speedcubing { background-color: rgb(255,255,0); }
#officielswca { background-color: rgb(0,255,0); }
#encyclopedie { background-color: rgb(0,255,255); }
#catalogue { background-color: rgb(55,55,255); }
#entretient { background-color: rgb(150,0,255); }
#exotiques { background-color: rgb(255,0,150); }


#actualites:hover { background: radial-gradient(rgb(255,0,0) 70%,rgb(255,120,120)); position: relative; left: 1px; top: 1px; }
#reussir:hover { background: radial-gradient(rgb(255,150,0) 70%,rgb(255,180,70)); position: relative; left: 1px; top: 1px; }
#speedcubing:hover { background: radial-gradient(rgb(255,255,0) 70%,rgb(255,255,210)); position: relative; left: 1px; top: 1px; }
#officielswca:hover { background: radial-gradient(rgb(0,255,0) 70%,rgb(182,255,182)); position: relative; left: 1px; top: 1px; }
#encyclopedie:hover { background: radial-gradient(rgb(0,255,255) 70%,rgb(220,255,255)); position: relative; left: 1px; top: 1px; }
#catalogue:hover { background: radial-gradient(rgb(55,55,255) 70%,rgb(85,85,255)); position: relative; left: 1px; top: 1px; }
#entretient:hover { background: radial-gradient(rgb(150,0,200) 70%,rgb(180,80,255)); position: relative; left: 1px; top: 1px; }
#exotiques:hover { background: radial-gradient(rgb(255,0,150) 70%,rgb(255,110,210)); position: relative; left: 1px; top: 1px; }
