/*Integration des polices à telecharger*/

@font-face {
    font-family: 'boomerang';
    src: url('fonts/boomeran.eot');
    src: url('fonts/boomeran.eot?#iefix') format('embedded-opentype'),
         url('fonts/boomeran.woff2') format('woff2'),
         url('fonts/boomeran-.woff') format('woff'),
         url('fonts/boomeran.ttf') format('truetype'),
         url('fonts/boomeran.svg#boomerangregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*____________ LES HEADERS ET HAUTS DE PAGE ____________*/

.header_index
{
	display: inline-block;
	text-align: center;
	background-color: grey;
	border-radius: 5px;
	width: auto;
	margin-top: 0px;
	margin-left: 230px;
	margin-right: 10px;
	overflow: hidden;
}

header
{
	display: inline-block;
	border-radius: 5px;
	width: auto;
	margin-top: 0px;
	margin-left: 230px;
	margin-right: 10px;
	overflow: hidden;
}

#banniere
{
	top: 0px;
	left: 0px;
	right:0px;
	width: 100%;
	height: 150px;
	border-bottom: 1px solid black;
}



/*____________ LES MENUS DE NAVIGATION ET LISTES____________*/

header ul
{
	list-style: none;
	margin: 3px;
}

header li
{
	display: inline-block;
}

body nav
{
	position:fixed;
	width: 200px;
	color:black;
	font-size: 14px;
	font-family:Verdana;
	margin-left: 15px;
	margin-top: 0px;
	padding: 0px;
	display: inline-block;
}

.bloc_nav
{
	border-radius: 4px;
	border:1px solid #868686;
	margin-bottom: 15px;
	overflow: hidden;
}

.en-tete-nav
{
	background-color: rgba(237,153,216,1);
	width: 100%;
	margin: 0px;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 3px black;
}

body nav ul
{
	list-style-type:none;
	margin: 0px;
	padding: 0px;
}

body nav li
{
	margin-top: 3px;
	margin-bottom: -1px;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 1px dotted #868686;
}

body nav li a
{
	text-decoration: none;
	color: blue;
}

body nav a:hover
{
	color: red;
}

#scroll_to_top
{
	position: fixed;
	right: 2px;
	bottom: 2px;
}



/*____________ LES BLOCS DE CORPS DE PAGE ____________*/

.body-normal
{
	background-color:#DDF2FE;
	margin:auto;
}

.body-degrade #gros_bloc
{
	width: 92%; 
	margin: auto;
	background-color: white;
	border: 1px black solid;
}

section
{
	margin-left: 230px;
	margin-right: 15px;
	padding: 10px;
	display: inline-block;
}

.texte
{
	position:float;
	color:black;
	font-size:12px;
	font-family:Verdana;
}




/*____________ LES TITRES, PARAGRAPHES ET MARQUAGES ____________*/

p
{
	margin-left: 3px;
	font-family: "Verdana";
	font-size: 12px;
	text-align: justify;
	margin-top: 3px;
	margin-bottom: 3px;
}

h1
{
	text-align: center;
	color: black;
	font-size: 50px;
	font-family: boomerang;
}

h2
{
	font-family: Verdana;
	font-size: 18px;
}

a
{
	color:green;
	text-decoration:none;
}

a:hover
{
	color:blue;
	text-decoration:underline;
}
strong
{
	display: block;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

.au-dessus
{
	position:absolute;
	top:480px;
}




/*___________________ FONDS, COULEURS ET AUTRES ___________________*/

.body-degrade
{
	/* Anciens navigateurs */
	background: white url("gradient-bg.png") repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	/* Navigateurs recents */
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(white),
		to(#3399cc)
	);
	background: -webkit-linear-gradient(
		top,
		white,
		#3399cc
	);
	background: -moz-linear-gradient(
		top,
		white,
		#3399cc
	);
	background: -o-linear-gradient(
		top,
		white,
		#3399cc
	);
	background: linear-gradient(
		top,
		white,
		#3399cc
	);
}

#color
{
	color: blue;
}

.cubes /*taille et position de l'image expliquant les notations du rubik's cube*/
{
	width:200px;
	height:205px;
	margin-left:340px;
}



/*____________ LES FOOTERS ET BAS DE PAGE ____________*/

.liens_externes  /* bloc des liens externes en bas de page, dans pochmann_coins.html */
{
	border: 1px solid green;
}

.copyright  /* texte du copyright dans le pied de page */
{
	text-align: center;
	font-size: 8px;
}

footer
{
	position:float;
	border:1px #868686 solid;
	border-left:0px;
	border-right:0px;
	color:black;
	font-family:Verdana;
	width:55%;
	margin: auto;
	margin-top: 50px;
	margin-bottom:5px;
	text-align: center;
	font-size: 10px;
}

footer p
{
	text-align: center;
	font-size: 10px;
}
/*____________ GLOSSAIRE________________*/
table
{
	border-collapse: collapse;
	font-size: 12px;
	border-radius: 10px;
}

td
{
	border: 1px solid black;
	background-color: #F3F3F3;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

.categorie
{
	border: 1px solid black;
	background-color: #F3F3F3;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
}

.categorie p
{
	vertical-align: middle;
	display: inline-block;
	font-family: none;
	font-size: 12px;
}

th
{
	border: 1px solid black;
	background-color: #FFA000;
	min-width: 100px;
	height: 20px;
	text-shadow: 1px 1px 1px grey;
	text-align: center;
}

#tableau-glossaire
{
	border: 1px solid black;
	border-radius: 7px 7px 3px 3px;
	overflow:hidden;
	padding: 0px;
	box-shadow: 3px 3px 2px grey;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 12px;
}

.carre-puzzle
{
	height: 10px;
	width: 10px;
	border: 1px solid black;
	border-radius: 3px;
	background-color: rgba(0,255,0,1);
	display: inline-block;
	margin-left: 5px;
	margin-right: 3px;
	vertical-align: middle;
}

.carre-methode
{
	height: 10px;
	width: 10px;
	border: 1px solid black;
	border-radius: 3px;
	background-color: rgba(0,0,255,1);
	display: inline-block;
	margin-left: 5px;
	margin-right: 3px;
	vertical-align: middle;
}

.carre-piece
{
	height: 10px;
	width: 10px;
	border: 1px solid black;
	border-radius: 3px;
	background-color: rgba(255,255,0,1);
	display: inline-block;
	margin-left: 5px;
	margin-right: 3px;
	vertical-align: middle;
}

.carre-algos
{
	height: 10px;
	width: 10px;
	border: 1px solid black;
	border-radius: 3px;
	background-color: rgba(255,0,0,1);
	display: inline-block;
	margin-left: 5px;
	margin-right: 3px;
	vertical-align: middle;
}

.carre-technique
{
	height: 10px;
	width: 10px;
	border: 1px solid black;
	border-radius: 3px;
	background-color: rgba(255,145,0,1);
	display: inline-block;
	margin-left: 5px;
	margin-right: 3px;
	vertical-align: middle;
}

.carre-autre
{
	height: 10px;
	width: 10px;
	border: 1px solid black;
	border-radius: 3px;
	background-color: white;
	display: inline-block;
	margin-left: 5px;
	margin-right: 3px;
	vertical-align: middle;
}

.carre-wca
{
	height: 10px;
	width: 10px;
	border: 1px solid black;
	border-radius: 3px;
	background-color: rgba(175,0,175,1);
	display: inline-block;
	margin-left: 5px;
	margin-right: 3px;
	vertical-align: middle;
}

a
{
	text-decoration: none;
	color: blue;
}

a:hover
{
	color:red;
	text-decoration:underline;
}

.description
{
	text-align: left;
	padding: 5px;
}

.lien_discret
{
	font-family: none;
	font-size: 12px;
	text-align: center;
	color: black;
}
/*____________ MEDIA QUERIES _________*/
@media all and (max-width: 679px) {
	body nav
	{
		position:absolute;
	}
}
