ul a
{
	display: inline-block;
	margin: 0px;
}

ul
{
	font-size: 11px;
}

section img
{
	width: 15px;
	height: 15px;
	background-image: logo_cube.png;
	vertical-align: bottom;
}

#plan_du_site
{
	font-size: 12px;
	margin-top: 30px;
}
