/*____________ CUBES 2D ____________*/

.cube_3x3x3_2D
{
	border: 1px dotted black;
	display: inline-block;
	margin-right: 0px;
	margin-left: 0px;
	height: 137px;
	width: 137px;
	padding: 0px;
}

.cube_3x3x3_2D .face
{
	z-index: 1;
	border: 2px solid black; 
	position: absolute;
}

.cube_3x3x3_2D .arriere
{
	height: 0px;
	width: 93px;
	border-top: none;
	border-bottom: 22px solid black;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	margin-left: 16px;
	margin-top: 0px;
	perspective: 260px;
	transform: rotateY(21deg);
}

.cube_3x3x3_2D .face_arriere
{
	margin-left: -1px;
	margin-top: -5px;
	transform: rotateX(55deg);
	width: 96px;
	height: 32px;
	position: absolute;
	z-index: 3;
}

.cube_3x3x3_2D .avant
{
	height: 0px;
	width: 93px;
	border-top: 22px solid black;
	border-bottom: none;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	margin-left: 16px;
	margin-top: 115px;
	perspective: 260px;
	transform: rotateY(21deg);
}

.cube_3x3x3_2D .face_avant
{
	margin-left: -1px;
	margin-top: -26px;
	transform: rotateX(-55deg);
	width: 96px;
	height: 32px;
	position: absolute;
	z-index: 3;
}

.cube_3x3x3_2D .droite
{
	height: 93px;
	width: 0px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 22px solid black;
	border-right: none;
	margin-left: 115px;
	margin-top: 16px;
	perspective: 260px;
	transform: rotateX(21deg);
}

.cube_3x3x3_2D .face_droite
{
	margin-left: -26px;
	margin-top: -1px;
	transform: rotateY(55deg);
	width: 32px;
	height: 96px;
	position: absolute;
	z-index: 3;
}

.cube_3x3x3_2D .gauche
{
	height: 93px;
	width: 0px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: none;
	border-right: 22px solid black;
	margin-left: 0px;
	margin-top: 16px;
	perspective: 260px;
	transform: rotateX(21deg);
}

.cube_3x3x3_2D .face_gauche
{
	margin-left: -6px;
	margin-top: -1px;
	transform: rotateY(-55deg);
	width: 32px;
	height: 96px;
	position: absolute;
	z-index: 3;
}

.cube_3x3x3_2D .haut
{
	width: 95px;
	height: 94px;
	margin-left: 19px;
	margin-top: 20px;
	z-index: 1;
}

.cube_3x3x3_2D .haut .sticker { margin: 0px 0px -5px 0px; }

.cube_3x3x3_2D .sticker
{
	width: 30px;
	height: 30px;
	margin: 0px 0px -4px 0px;
	border: 1px solid black;
	display: inline-block;
}



/*____________ CUBES 3D ____________*/

/* 2x2 */

.cube_2x2x2_3D
{
	border: 1px dotted black;
	display: inline-block;
	margin-right: -3px;
	margin-left: 0px;
	height: 141px;
	width: 141px;
	padding: 0px;
}

.cube_2x2x2_3D .face
{
	display: inline-block;
	position: absolute;
	background-color: black;
	height: 98px;
	width: 98px;
	padding: 0px;
	border: 1px solid black;
}

.cube_2x2x2_3D .avant
{
	z-index: 2;
	margin-left: 0px;
	margin-top: 41px;
	border-radius: 1px 0px 4px 3px ;
}

.cube_2x2x2_3D .haut
{
	z-index: 1;
	margin-left: 20px;
	margin-top: -29px;
	transform: skew(-45deg) rotateX(-65deg);
	border-radius: 5px 7px 0px 5px;
}

.cube_2x2x2_3D .droite
{
	z-index: 3;
	margin-left: 69px;
	margin-top: 20px;
	transform: skewY(-45deg) rotateY(-65deg);
	border-radius: 0px 7px 5px 3px;
}

.cube_2x2x2_3D .sticker
{
	display: inline-block;
	vertical-align: top;
	height: 45px;
	width: 45px;
	margin-top: 2px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 2px;
	border-radius: 3px;
}

.liste_etapes .cube_2x2x2_3D .face { left: 11px; }
.cas_etape .cube_2x2x2_3D .avant { margin-left: -64px; margin-top: 31px; }
.cas_etape .cube_2x2x2_3D .haut { margin-left: -49px; }
.cas_etape .cube_2x2x2_3D .droite { margin-left: 0px; }

/* 3x3 */

.cube_3x3x3_3D
{
	border: 1px dotted black;
	display: inline-block;
	margin-right: -3px;
	margin-left: 0px;
	height: 141px;
	width: 141px;
	padding: 0px;
}

.cube_3x3x3_3D .face
{
	display: inline-block;
	position: absolute;
	background-color: black;
	height: 98px;
	width: 98px;
	padding: 0px;
	border: 1px solid black;
}

.cube_3x3x3_3D .avant
{
	z-index: 3;
	margin-left: 0px;
	margin-top: 41px;
	border-radius: 1px 0px 3px 3px ;
}

.cube_3x3x3_3D .haut
{
	z-index: 2;
	margin-left: 20px;
	margin-top: -29px;
	transform: skew(-45deg) rotateX(-65deg);
	border-radius: 5px 5px 0px 5px;
}

.cube_3x3x3_3D .droite
{
	z-index: 1;
	margin-left: 70px;
	margin-top: 20px;
	transform: skewY(-45deg) rotateY(-65deg);
	border-radius: 0px 5px 5px 3px;
}

.cube_3x3x3_3D .sticker
{
	display: inline-block;
	vertical-align: top;
	height: 30px;
	width: 30px;
	margin-top: 2px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 2px;
	border-radius: 2px;
}

.liste_etapes .cube_3x3x3_3D .face { left: 11px; }
.cas_etape .cube_3x3x3_3D .avant { margin-left: -64px; margin-top: 31px; }
.cas_etape .cube_3x3x3_3D .haut { margin-left: -49px; }
.cas_etape .cube_3x3x3_3D .droite { margin-left: 0px; }

/* 4x4 */

.cube_4x4x4_3D
{
	border: 1px dotted black;
	display: inline-block;
	margin-right: -3px;
	margin-left: 0px;
	height: 141px;
	width: 141px;
	padding: 0px;
}

.cube_4x4x4_3D .face
{
	display: inline-block;
	position: absolute;
	background-color: black;
	height: 98px;
	width: 98px;
	padding: 0px;
	border: 1px solid black;
}

.cube_4x4x4_3D .avant
{
	z-index: 2;
	margin-left: 0px;
	margin-top: 41px;
	border-radius: 1px 0px 4px 3px ;
}

.cube_4x4x4_3D .haut
{
	z-index: 1;
	margin-left: 20px;
	margin-top: -29px;
	transform: skew(-45deg) rotateX(-65deg);
	border-radius: 5px 5px 0px 5px;
}

.cube_4x4x4_3D .droite
{
	z-index: 3;
	margin-left: 69px;
	margin-top: 20px;
	transform: skewY(-45deg) rotateY(-65deg);
	border-radius: 0px 5px 5px 3px;
}

.cube_4x4x4_3D .sticker
{
	display: inline-block;
	vertical-align: top;
	height: 22px;
	width: 22px;
	margin-top: 2px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 2px;
	border-radius: 2px;
}

.liste_etapes .cube_4x4x4_3D .face { left: 11px; }
.cas_etape .cube_4x4x4_3D .avant { margin-left: -64px; margin-top: 31px; }
.cas_etape .cube_4x4x4_3D .haut { margin-left: -49px; }
.cas_etape .cube_4x4x4_3D .droite { margin-left: 0px; }

/* 5x5 */

.cube_5x5x5_3D
{
	border: 1px dotted black;
	display: inline-block;
	margin-right: -3px;
	margin-left: 0px;
	height: 152px;
	width: 153px;
	padding: 0px;
}

.cube_5x5x5_3D .face
{
	display: inline-block;
	position: absolute;
	background-color: black;
	height: 106px;
	width: 106px;
	padding: 0px;
	border: 1px solid black;
}

.cube_5x5x5_3D .avant
{
	z-index: 2;
	margin-left: 0px;
	margin-top: 44px;
	border-radius: 2px 0px 2px 3px ;
}

.cube_5x5x5_3D .haut
{
	z-index: 1;
	margin-left: 22px;
	margin-top: -32px;
	transform: skew(-45deg) rotateX(-65deg);
	border-radius: 5px 4px 0px 5px;
}

.cube_5x5x5_3D .droite
{
	z-index: 3;
	margin-left: 76px;
	margin-top: 22px;
	transform: skewY(-45deg) rotateY(-65deg);
	border-radius: 0px 4px 5px 3px;
}

.cube_5x5x5_3D .sticker
{
	display: inline-block;
	vertical-align: top;
	height: 19px;
	width: 19px;
	margin-top: 2px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 2px;
	border-radius: 2px;
}

.liste_etapes .cube_5x5x5_3D .face { left: 11px; }
.cas_etape .cube_5x5x5_3D .avant { margin-left: -64px; margin-top: 31px; }
.cas_etape .cube_5x5x5_3D .haut { margin-left: -49px; }
.cas_etape .cube_5x5x5_3D .droite { margin-left: 0px; }

/* 6x6 */

.cube_6x6x6_3D
{
	border: 1px dotted black;
	display: inline-block;
	margin-right: -3px;
	margin-left: 0px;
	height: 167px;
	width: 167px;
	padding: 0px;
}

.cube_6x6x6_3D .face
{
	display: inline-block;
	position: absolute;
	background-color: black;
	height: 116px;
	width: 116px;
	padding: 0px;
	border: 1px solid black;
}

.cube_6x6x6_3D .avant
{
	z-index: 2;
	margin-left: 0px;
	margin-top: 49px;
	border-radius: 2px 0px 3px 3px ;
}

.cube_6x6x6_3D .haut
{
	z-index: 1;
	margin-left: 24px;
	margin-top: -34px;
	transform: skew(-45deg) rotateX(-65deg);
	border-radius: 5px 4px 0px 5px;
}

.cube_6x6x6_3D .droite
{
	z-index: 3;
	margin-left: 83px;
	margin-top: 24px;
	transform: skewY(-45deg) rotateY(-65deg);
	border-radius: 0px 4px 5px 3px;
}

.cube_6x6x6_3D .sticker
{
	display: inline-block;
	vertical-align: top;
	height: 17px;
	width: 17px;
	margin-top: 1px;
	margin-bottom: -1px;
	margin-right: 0px;
	margin-left: 2px;
	border-radius: 2px;
}

.liste_etapes .cube_6x6x6_3D .face { left: 11px; }
.cas_etape .cube_6x6x6_3D .avant { margin-left: -64px; margin-top: 31px; }
.cas_etape .cube_6x6x6_3D .haut { margin-left: -49px; }
.cas_etape .cube_6x6x6_3D .droite { margin-left: 0px; }

/* 7x7 */

.cube_7x7x7_3D
{
	border: 1px dotted black;
	display: inline-block;
	margin-right: -3px;
	margin-left: 0px;
	height: 193px;
	width: 192px;
	padding: 0px;
}

.cube_7x7x7_3D .face
{
	display: inline-block;
	position: absolute;
	background-color: black;
	height: 134px;
	width: 134px;
	padding: 0px;
	border: 1px solid black;
}

.cube_7x7x7_3D .avant
{
	z-index: 2;
	margin-left: 0px;
	margin-top: 57px;
	border-radius: 2px 0px 2px 3px ;
}

.cube_7x7x7_3D .haut
{
	z-index: 1;
	margin-left: 29px;
	margin-top: -39px;
	transform: skew(-45deg) rotateX(-65deg);
	border-radius: 5px 5px 0px 5px;
}

.cube_7x7x7_3D .droite
{
	z-index: 3;
	margin-left: 96px;
	margin-top: 28px;
	transform: skewY(-45deg) rotateY(-65deg);
	border-radius: 0px 5px 5px 2px;
}

.cube_7x7x7_3D .sticker
{
	display: inline-block;
	vertical-align: top;
	height: 17px;
	width: 17px;
	margin-top: 1px;
	margin-bottom: -1px;
	margin-right: 0px;
	margin-left: 2px;
	border-radius: 2px;
}

.liste_etapes .cube_7x7x7_3D .face { left: 11px; }
.cas_etape .cube_7x7x7_3D .avant { margin-left: -64px; margin-top: 31px; }
.cas_etape .cube_7x7x7_3D .haut { margin-left: -49px; }
.cas_etape .cube_7x7x7_3D .droite { margin-left: 0px; }


/* 8x8 */

.cube_8x8x8_3D
{
	border: 1px dotted black;
	display: inline-block;
	margin-right: -3px;
	margin-left: 0px;
	height: 219px;
	width: 219px;
	padding: 0px;
}

.cube_8x8x8_3D .face
{
	display: inline-block;
	position: absolute;
	background-color: black;
	height: 153px;
	width: 153px;
	padding: 0px;
	border: 1px solid black;
}

.cube_8x8x8_3D .avant
{
	z-index: 2;
	margin-left: 0px;
	margin-top: 65px;
	border-radius: 2px 0px 2px 3px ;
}

.cube_8x8x8_3D .haut
{
	z-index: 1;
	margin-left: 33px;
	margin-top: -45px;
	transform: skew(-45deg) rotateX(-65deg);
	border-radius: 5px 5px 0px 2px;
}

.cube_8x8x8_3D .droite
{
	z-index: 3;
	margin-left: 109px;
	margin-top: 32px;
	transform: skewY(-45deg) rotateY(-65deg);
	border-radius: 0px 3px 5px 2px;
}

.cube_8x8x8_3D .sticker
{
	display: inline-block;
	vertical-align: top;
	height: 17px;
	width: 17px;
	margin-top: 1px;
	margin-bottom: -1px;
	margin-right: 0px;
	margin-left: 2px;
	border-radius: 2px;
}

.liste_etapes .cube_8x8x8_3D .face { left: 11px; }
.cas_etape .cube_8x8x8_3D .avant { margin-left: -64px; margin-top: 31px; }
.cas_etape .cube_8x8x8_3D .haut { margin-left: -49px; }
.cas_etape .cube_8x8x8_3D .droite { margin-left: 0px; }


/* 9x9 */

.cube_9x9x9_3D
{
	border: 1px dotted black;
	display: inline-block;
	margin-right: -3px;
	margin-left: 0px;
	height: 247px;
	width: 247px;
	padding: 0px;
}

.cube_9x9x9_3D .face
{
	display: inline-block;
	position: absolute;
	background-color: black;
	height: 172px;
	width: 172px;
	padding: 0px;
	border: 1px solid black;
}

.cube_9x9x9_3D .avant
{
	z-index: 2;
	margin-left: 0px;
	margin-top: 74px;
	border-radius: 2px 0px 2px 3px ;
}

.cube_9x9x9_3D .haut
{
	z-index: 1;
	margin-left: 37px;
	margin-top: -50px;
	transform: skew(-45deg) rotateX(-65deg);
	border-radius: 5px 5px 0px 2px;
}

.cube_9x9x9_3D .droite
{
	z-index: 3;
	margin-left: 123px;
	margin-top: 37px;
	transform: skewY(-45deg) rotateY(-65deg);
	border-radius: 0px 4px 5px 2px;
}

.cube_9x9x9_3D .sticker
{
	display: inline-block;
	vertical-align: top;
	height: 17px;
	width: 17px;
	margin-top: 1px;
	margin-bottom: -1px;
	margin-right: 0px;
	margin-left: 2px;
	border-radius: 2px;
}

.liste_etapes .cube_9x9x9_3D .face { left: 11px; }
.cas_etape .cube_9x9x9_3D .avant { margin-left: -64px; margin-top: 31px; }
.cas_etape .cube_9x9x9_3D .haut { margin-left: -49px; }
.cas_etape .cube_9x9x9_3D .droite { margin-left: 0px; }



/*____________ COULEURS DE STICKERS ____________*/

.gris { background-color: rgb(150,150,150); }
.vert { background-color: rgb(75,195,50); }
.bleu { background-color: blue; }
.blanc { background-color: white; }
.orange { background-color: rgb(255,151,50); }
.rouge { background-color: red; }
.jaune { background-color: rgb(255,255,50); }
.noir { background-color: black; }
.rose { background-color: rgb(255, 0, 127); }
.turquoise { background-color: rgb(37, 253, 233); }
