body
{
	background-color:#DFF2FE;
	width:1280px;
	margin:auto;
	
}

.accueil
{
	position:absolute;
	z-index:1;
	border-radius:5px;	
	width:990px;
	height:150px;
	margin-left:5px;
	margin-top:5px;
	margin-bottom:10px;
}

p
{
	text-align:left;
	color:black;
	font-size:16px;
	font-family:Verdana;
}

.texte
{
	background-color:#DFF2FE;
	position:absolute;
	top:150px;
	width:990px;
	border:1px /*black*/#868686 solid;
	border-left:none;
	border-right:none;
	border-radius:/*5px*/;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:5px;
	margin-right:auto;
}

.menu
{
	position:absolute;
	z-index:2;
	margin-top:6px;
	margin-left:1005px;
	margin-right:auto;
}
nav ul
{
	background-color:#DFF2FE;	
	position:absolute;
	z-index:2;
	border:1px /*black*/#868686 solid;
	border-right:none;
	border-radius:/*5px*/;
	color:black;
	font-size:16px;
	font-family:Verdana;
	list-style-type:none;
	width:240px;
	top:10px;
	margin-left:1005px;
	margin-right:auto;
	padding-left:5px;
}

footer
{
	background-color:;
	position:absolute;
	border:1px /*black*/#868686 solid;
	border-left:none;
	border-right:none;
	border-radius:/*5px*/;
	text-align:center;
	color:black;
	font-size:10px;
	font-family:Verdana;
	width:600px;
	margin-left:340px;
	margin-right:340px;
	margin-bottom:5px;
	top:550px;
}

