body
{
	background-color:blue;
}

div
{
	border : 2px black solid;
	background-color:white;
}

p
{
	color : black;
	font-size : 16px;
	font-family : Verdana;
	text-align : left;
	background-color : black;
}

ul
{
	color : black;
	font-size : 16px;
	font-family : Verdana;
	background-color : black;
}

h5
{
	text-align : center;
	color : black;
	font-size : 16px;
	font-family : Verdana;
}
	
.copyright /*bug chez moi avec chromium : la ligne tout en bas ne se positionne pas au milieu de l'écran. À vérifier avec d'autres navigateurs*/
{
	text-align : center;
	color : black;
	font-size : 10px;
	font-family : Verdana;
}

