body
{
	background-color:#A7FAAD;
	margin:auto;
}

.bannière
{
	display: inline-block;
	margin-top: 5px;
	margin-left: 5%;
	border-radius: 5px;
	width: 90%;
	max-height: 150px;
	min-height: 50px;
	height: 10%;
	margin-bottom: 10px;
}

.titre_de_page
{
	position: inline-block;
	top: 160px;
	border: 1px solid white;
	height: 160px;
	vertical-align: top;
	margin-left: 25%;
}

.milieu_de_page
{
	position: inline-block;
	top: 330px;
	border: 1px solid yellow;
}

h1, h2
{
	top: 150px;
}
p
{
	color:black;
	font-size:16px;
	font-family:Verdana;
	text-align:left;
}

.texte
{
	display: inline-block;
	background-color:white;
	width:990px;
	border:1px black solid;
	border-radius:5px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:5px;
	margin-right:auto;
	top:150px;
}
nav
{
	border:1px black solid;
	border-radius:5px;
	background-color:white;	
	float:left;
	color:black;
	width:25%;
	min-width: 150px;
	max-width: 240px;
	list-style-type: none;
	font-size:16px;
	font-family:Verdana;
	margin-top:5px;
	margin-right:auto;
	padding: 5px;
	display: inline-block;
}

footer
{
	text-align:center;
	
	color:black;
	font: normal normal 12px normal Verdana;
	
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-radius: 15px 15px 0px 0px;
	
	background-color:white;
	
	margin-left: 10%;
	margin-top: 50px;
	margin-bottom: 0px;
	
	width: 80%;
	min-width: 500px;
	
	padding: 5px;
	
	display: inline-block;
	position: inline-block;
	bottom: 0px;
}

td
{
	border: 1px solid black;
}

table
{
	border-collapse: collapse;
}

.liens_externes
{
	border: 1px solid green;
}

.colonne
{
	float: top;
	width: 35%;
	min-width: 250px;
	border: 1px blue solid;
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
}
